<div class="row justify-content-center">
  <div
    class="col-md-9 col-sm-10 pt-4 d-flex flex-column"
    style="color: #484848"
  >
    <p class="h1" style="font-weight: bolder; color: #505050 !important">
      An error occurred to generate the URL <br />
    </p>
    <p style="font: 18px 'source sans pro', arial">
      The URL is not valid, make sure the URL you tried to shorten is correct.
    </p>
    <br />
    <br />
    <p style="font: 18px 'source sans pro', arial">Possible errors:</p>
    <ul
      style="
        list-style: none;
        font: 18px 'source sans pro', arial;
        padding-left: 5px;
      "
    >
      <li>
        <i class="fas fa-check" style="color: #2c87c5"></i> Check if the domain
        is correct
      </li>
      <li>
        <i class="fas fa-check" style="color: #2c87c5"></i> Check if the site is
        reachable
      </li>
      <li>
        <i class="fas fa-check" style="color: #2c87c5"></i> The url may have
        been blocked or reported
      </li>
      <li>
        <i class="fas fa-check" style="color: #2c87c5"></i> Make sure the url
        doesn't contain spam
      </li>
      <li>
        <i class="fas fa-check" style="color: #2c87c5"></i> Check the address
        bars and punctuation
      </li>
      <li>
        <i class="fas fa-check" style="color: #2c87c5"></i> Check the length of
        the url is not too small
      </li>
    </ul>
    <button class="btn btn-primary mb-3 col-md-3 py-3">
      <a
        href="/"
        style="
          font-weight: bolder;
          font: 18px 'source sans pro', arial;
          color: white;
          text-decoration: none;
        "
        >Go Back And Try Again</a
      >
    </button>
  </div>
</div>
