<div class="row justify-content-center">
  <div class="col-md-7 col-sm-10 pt-4" style="color: #484848">
    <p class="h1" style="font-weight: bolder; color: #505050 !important">
      Total URL Clicks <br />
    </p>
    <p style="font: 18px 'source sans pro', arial">
      The total number of clicks that your link has received so far.
    </p>
    <br />
    <div
      style="
        font: 50px 'source sans pro', arial;
        background-color: white;
        padding: 20px;
        display: inline-block;
        font-weight: bolder;
      "
    >
      {{ clicks }}
    </div>
    <p
      style="
        list-style: none;
        font: 18px 'source sans pro', arial;
        padding-left: 5px;
        margin-top: 35px;
      "
    >
      Check <a href="/check-total-clicks">the total number of clicks</a> from
      other URL.
    </p>
    <button class="btn btn-primary mb-3 col-md-4 py-3">
      <a
        href="/"
        style="
          font-weight: 900;
          font: 18px 'source sans pro', arial;
          color: white;
          text-decoration: none;
        "
        >Create Other Shortened URL</a
      >
    </button>
  </div>
</div>
